//link(href="#{meta.site_url}/assets/bootstrap/css/bootstrap.min.css",rel="stylesheet")
link(href="#{meta.site_url}/assets/common/markdown.css",rel="stylesheet")
link(href="#{meta.site_url}/assets/common/screen.css",rel="stylesheet")