//link(href="#{meta.site_url}/assets/bootstrap/css/bootstrap.min.css",rel="stylesheet")
link(href="#{meta.site_url}/assets/common/markdown.css",rel="stylesheet")
link(href="#{meta.site_url}/assets/common/screen.css",rel="stylesheet")
| <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/rainbow.min.css">
| <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
| <script>hljs.initHighlightingOnLoad();</script>